@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.kaufman__triangle{
  background-image: url(/how-to-lear-mian/images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  z-index: 0;
  position: absolute;
  right: -210px;
  top: 0;
  animation: rotation 20s infinite;
}
