
.header__link:hover{

  opacity: 0.5;

  transition: opacity 1.5s;

}
.feynman__link:hover{
  opacity: 0.5;

  transition: opacity 1.5s;
}

.khan__buy-link:hover{
  opacity: 0.5;

  transition: opacity 1.5s;
}
